dify_workflows/导购文案生成器.yml
app:
  description: 导购文案生成工作流，生成商品详情页文案、卖点提炼、FAQ问答
  icon: 🛒
  icon_background: '#E0F2FE'
  icon_type: emoji
  mode: workflow
  name: 导购文案生成器
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/longcat:0.0.4@0b1183b9a46499db54e0fe00df51c3fbcaf051c1d212db7184a01e1ab8748128
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: start-source-1744362990000-target
      source: start
      sourceHandle: source
      target: '1744362990000'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
      id: 1744362990000-source-1744363000000-target
      source: '1744362990000'
      sourceHandle: source
      target: '1744363000000'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: 1744363000000-source-1744363010000-target
      source: '1744363000000'
      sourceHandle: source
      target: '1744363010000'
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: end
      id: 1744363010000-source-answer-target
      source: '1744363010000'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: query
          max_length: 2000
          options: []
          required: true
          type: paragraph
          variable: query
      height: 108
      id: start
      position:
        x: 538
        y: -28
      positionAbsolute:
        x: 538
        y: -28
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            stop: []
          mode: chat
          name: longcat-flash-chat
          provider: langgenius/longcat/longcat
        prompt_template:
        - id: 1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
          role: system
          text: '你是一个专业的商品信息分析助手，擅长从用户输入中提取商品关键信息。请分析用户输入，提取以下信息并以JSON格式返回：{"product_name":
            "商品名称", "category": "商品类别", "core_features": ["卖点1", "卖点2", "卖点3"], "target_users":
            "目标用户群体", "usage_scenarios": ["使用场景1", "使用场景2"], "price_positioning":
            "价格定位", "competitive_advantage": "竞争优势"}'
        - id: 2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e
          role: user
          text: '{{#start.query#}}'
        selected: false
        title: 信息提取
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1744362990000'
      position:
        x: 545
        y: 116
      positionAbsolute:
        x: 545
        y: 116
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            stop: []
          mode: chat
          name: longcat-flash-chat
          provider: langgenius/longcat/longcat
        prompt_template:
        - id: 3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f
          role: system
          text: "你是一个电商详情页文案专家，擅长写高转化率的导购文案。请根据用户提供的产品信息，创作专业的导购文案。\n\n输出格式要求（严格遵守）：\n\
            1. 【文案主体】\n   这里写商品详情页文案，包括商品介绍、核心卖点、使用场景、购买理由等。\n\n2. 【标签】\n   hashtags:\
            \ #标签1 #标签2 #标签3\n\n3. 【追问】\n   <<< Questions: [\"问题1\", \"问题2\", \"问题3\"\
            ] >>>\n\n追问问题应该是帮助创作者进一步完善导购文案的问题，例如：\n- \"商品的规格参数有哪些需要特别强调的？\"\n- \"\
            是否有用户评价或销量数据可以作为信任背书？\"\n- \"售后服务政策有什么亮点？\"\n- \"目标用户群体的痛点是什么？\"\n- \"\
            与同类商品相比，核心差异化优势是什么？\""
        - id: 4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a
          role: user
          text: '商品信息: {{#start.query#}}'
        selected: true
        title: 文案生成
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1744363000000'
      position:
        x: 570
        y: 274
      positionAbsolute:
        x: 570
        y: 274
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport re\n\ndef main(text: str) -> dict:\n    result_text\
          \ = text\n    return {\"text\": result_text, \"status\": \"success\"}"
        code_language: python3
        desc: ''
        outputs:
          status:
            type: string
          text:
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1744363000000'
          - text
          variable: text
      height: 51
      id: '1744363010000'
      position:
        x: 576
        y: 417
      positionAbsolute:
        x: 576
        y: 417
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1744363010000'
          - text
          variable: text
        selected: false
        title: 结束
        type: end
      height: 87
      id: answer
      position:
        x: 576
        y: 534
      positionAbsolute:
        x: 576
        y: 534
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -55
      y: 113
      zoom: 1
  rag_pipeline_variables: []
